
<div class="container logiSection">
  <div class="row">
    <div class="col-sm-12">
      <div class="loginFormWrap">
        <div class="loginForm">
          <form >
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label >User Name</label>
                  <input type="text" class="form-control" >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label >Password</label>
                  <input type="password" class="form-control" >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <input type="submit" class="form-control btn btn-primary" value="Login" >
                </div>
              </div>
            </div>
            <div class="text-center">
              <h4>
                OR
              </h4>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <a routerLink="/register" class="form-control btn btn-success"  >Register</a>
                  <!-- <input type="submit" class="form-control btn btn-primary" value="Login" > -->
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

